<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.crowd.mysql.mapper.RewardMapper">
<!--    List<Reward> getRewardsByProjectId(@Param("id") String projectId);-->

    <select id="getRewardsByProjectId" resultType="com.wj.crowd.entity.Do.Reward" >
        SELECT *
        FROM reward
        WHERE project_id = #{projectId}
        AND is_delete = 0
    </select>
</mapper>
